
@model List<Blog>

@{
    ViewData["Title"] = "Блог";
    ViewData["H1"] = "Блог сайта";
}



@foreach (var el in Model)
{
    <div class="item">
        <h1>@el.Title</h1>
        <p>@el.Annons</p>
        <a href="/blog/@el.Id/edit">Редактировать</a>
         <a href="/blog/@el.Id/delete">Удалить</a>

        
        
        

    </div>
}
